body
    background: transparent url("../img/bg-dark.png") scroll no-repeat center center
    background-size: auto 100%
    color: #ff7bac
    min-height: 100vh

header
    align-items: center
    display: flex
    justify-content: space-between
    margin-bottom: 2rem

    a
        display: block

    img
        height: 60px

    .avatar
        border-radius: 5px

#formula
    align-items: center
    display: flex
    flex-wrap: wrap
    font-size: 42px
    justify-content: center
    margin-bottom: 2rem

    div.formula-part
        display: inline-block

    #formula-head-part
        align-items: center
        display: flex
        justify-content: center
    #formula-head-part img
        height: 64px;
        width: 64px;

    #formula-fraction-part
        margin: 0 1rem

        #formula-fraction-top
            border-bottom: 2px solid #ff7bac
        #formula-fraction-bottom
            width: 100%
            text-align: center

    #formula-result-part
        

input[type="number"]
    width: 8em

.inputtitle
    font-size: 30px

div#input
    table
        max-width: 400px
        width: 100%

        tr.inputrow
            td:first-child
                width: 300px
            td:last-child
                text-align: right

.columns 
    .column.is-half
        margin: auto
        max-width: 400px
        width: 100%

        tr.inputrow
            td:first-child
                width: 80%
