body {
  background: #120a0d url("../img/bg-dark.png") scroll no-repeat center center;
  background-size: auto 100%;
  background-attachment: fixed;
  color: #ff7bac;
  min-height: 100vh; }

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }
  header a {
    display: block; }
  header img {
    height: 60px; }
  header .avatar {
    border-radius: 5px; }

#formula {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 42px;
  justify-content: center;
  margin-bottom: 1rem; }
  #formula div.formula-part {
    display: inline-block; }
  #formula #formula-head-part {
    align-items: center;
    display: flex;
    justify-content: center; }
  #formula #formula-head-part img {
    height: 64px;
    width: 64px; }
  #formula #formula-fraction-part {
    margin: 0 1rem; }
    #formula #formula-fraction-part #formula-fraction-top {
      border-bottom: 2px solid #ff7bac; }
    #formula #formula-fraction-part #formula-fraction-bottom {
      width: 100%;
      text-align: center; }

#sigma-core {
  font-size: 30px;
  margin-bottom: 2rem;
  justify-content: center;
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap; }

input[type="number"] {
  width: 8em; }

.inputtitle {
  font-size: 30px; }

div.input-group table {
  max-width: 400px;
  width: 100%; }
  div.input-group table tr.inputrow td:first-child {
    width: 300px; }
  div.input-group table tr.inputrow td:last-child {
    text-align: right; }

.columns .column.is-half {
  margin: auto;
  max-width: 400px;
  width: 100%; }
  .columns .column.is-half tr.inputrow td:first-child {
    width: 80%; }

.columns div.column {
  align: center; }

.explain {
  text-align: center;
  margin-top: 50px; }

#definitions {
  margin-top: 50px; }

dt {
  font-weight: bold; }

dt:not(:first-child) {
  margin-top: 1em; }

#faq {
  margin-top: 1em; }
